[submodule "x"]
	path = schema-plugins
	url = https://github.com/aodn/schema-plugins
	branch = master


[submodule "codelist"]
	path = codelist
	url = https://github.com/aodn/codelist
	branch = master
